* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #edfff0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  position: sticky;
  top: 0;
}

nav {
  /* background-color: #f875aa; */
  height: 10vh;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0 10vh 0 0;
  align-items: center;
  font-size: 18px;
  color: #1a1a1a;
}

.nav-links {
  display: flex;
  list-style: none;
}

.left {
  margin-top: 0;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}

.mypic {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin: 2.5rem;
  margin-bottom: 0;
  background-image: url("mypic.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 35vh;
  height: 40vh;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 50px;
}

.nav-links-hover {
  display: flex;
  justify-content: space-around;
  margin-right: 3vh;
  padding: 2vh;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-links-hover::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #1a1a1a;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links-hover:hover::after {
  width: 100%;
  left: 0;
}

main {
  min-height: calc(100vh - 20vh);
}

.box {
  height: 70vh;
  width: 50vh;
  background-color: #af91866b;
}

.details {
  position: absolute;
  margin-top: 50vh;
  left: 20px;
  font-size: 16px;
}

.details ul {
  gap: 20px;
}

.details li {
  list-style: none;
}

.text-box {
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-left: 110vh;
  height: 70vh;
  width: 70vh;
  gap: 2vh;
}

.ver-line-top {
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 45vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-line-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 40vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-text {
  position: fixed;
  right: 0;
  top: 45%;
  transform: translateY(50%);
  writing-mode: vertical-rl;
}

.footer {
  display: flex;
  margin-left: auto;
  margin-right: 3rem;
  height: 10vh;
  width: 45%;
  background-color: #af91866b;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
