* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #edfff0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100%;
}

header {
  position: sticky;
  top: 0;
}

nav {
  /* background-color: #f875aa; */
  height: 10vh;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 0 10vh 0 10vh;
  align-items: center;
  font-size: 18px;
  color: #1a1a1a;
}

.nav-links {
  display: flex;
  list-style: none;
}

.name {
  font-size: 24px;
  font-weight: 700;
}

.nav-links-hover {
  display: flex;
  justify-content: space-around;
  margin-right: 3vh;
  padding: 2vh;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-links-hover::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #1a1a1a;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links-hover:hover::after {
  width: 100%;
  left: 0;
}

.ver-line-top {
  position: fixed;
  right: 0;
  top: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 45vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-line-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: auto;
  margin-right: 0.7rem;
  width: 5px;
  height: 40vh;
  transform-origin: top right;
  background-color: #af91866b;
  border: none;
  z-index: 1000;
}

.ver-text {
  position: fixed;
  right: 0;
  top: 43%;
  transform: translateY(50%);
  writing-mode: vertical-rl;
}
